.btn-outline-dark {
  border: 2px solid !important;
  padding-left: 65px !important;
  padding-right: 65px !important;
}

btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
