.matches-enter {
  opacity: 0.01;
}

.matches-enter.matches-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.matches-leave {
  opacity: 1;
}

.matches-leave.matches-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
